.body {
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
}

.section-title {
	margin-top: 0;
	color: var(--title-text-color);
	text-align: center;

	@media screen and (max-width: 1199px) {
		@include font(700, 28px, 1.18, 0.03em);
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1200px) {
		@include font(null, 36px, 1.17, null);
		margin-bottom: 50px;
	}

	/* outline: tomato solid 2px; */
}

.section-subtitle {
	color: var(--title-text-color);
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;

	margin-bottom: 10px;
	margin-top: 0;
	padding-top: 30px;
	/* outline: tomato solid 2px; */

	@media screen and (max-width: 767px) {
		text-align: center;
	}
}
