.hero {
    background-color: var(--background-hero-footer-color);
    color: var(--add-color-text);
    text-align: center;
    align-items: center;

    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        @include font (900, 44px, 1.36, 0.06em);
            text-transform: uppercase;
            max-width: 696px;
            margin-right: auto;
            margin-left: auto;
    
            /* outline: tomato solid 2px; */
    
            margin-top: 0;
            margin-bottom: 30px;
        }
}
