
.our-team {
    background-color: var(--background-secondary-color);
    /* outline: tomato solid 2px; */
}


.team-item {
    background-color: var(--background-header-color);
    /* margin-right: 30px; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
       .img {
        display: block;

        
            width: 450px;
            height: 460px;            
        
        @media screen and (min-width:768px) {
        width: 354px;
        height: 374px;
                }
        @media screen and (min-width:1200px) {
        width: 270px;
       height: 260px;
        /* outline: tomato solid 2px; */}
    }
}


.team-list {
    @media screen and (min-width:768px) {
        display: flex;
            gap: 30px;
        }
    }


.item-card {
    padding: 30px 32px;

     &__links {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        }
     &__links-bgr {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-header-color);
        /* background-color: tomato; */
        border-radius: 50%;
        height: 44px;
        width: 44px;

        transition-property: var(--background-header-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                background-color: var(--accent);
            }

            &:hover .item-card-icon,
            &:focus .item-card-icon {
            fill: var(--add-color-text);
             }
   }
     &__icon {
             fill: #afb1b8;
             width: 20px;
             height: 20px;
    
             transition-property: fill;
             transition-duration: 250ms;
             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         }
       &__title {
             color: var(--title-text-color);
            @include font (500, 16px, 1.19, 0.03em);
             text-align: center;
             
              margin-top: 0;
               margin-bottom: 10px;
                /* outline: tomato solid 2px; */
                 }
     &__text {
             @include font (null, 16px, 1.19, 0.03em);


            text-align: center;
             margin-top: 0;
             margin-bottom: 16px;
             /* padding-bottom: 30px; */
             /* outline: tomato solid 2px; */
         }
     &__social-links {
               display: flex;
               justify-content: space-between;
           }
}

/* .team-item:nth-child(4n) {
	margin-right: 0; } */